<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-code"></i>CSIE Training</h2>
    <div class="item" style="margin-bottom:10px;">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Conference</h3>
                    <div class="time">2017 - Present</div>
                </div>
                <!--//upper-row-->
                <div class="company"> Cyber Security Taiwan Summit 2017, DevOpsDay 2017, Kubernetes Summit 2018,</div>
            </div>
            <!--//meta-->
    
    </div>

    
    <div class="item" style="margin-bottom:10px;">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">保哥 Angular 2 開發實戰</h3>
                <div class="time">2017 April 13</div>
            </div>
            <!--//upper-row-->
            <div class="company"> 酷奇資訊有限公司, Taipei</div>
        </div>
        <!--//meta-->

    </div>
    <div class="item" style="margin-bottom:10px;">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Growth Hack 入門心法班</h3>
                <div class="time">2016 Jan. 25</div>
            </div>
            <!--//upper-row-->
            <div class="company"> xdite, Taipei</div>
        </div>
        <!--//meta-->

    </div>

</section>
<!--//section-->