<div class="zh">
    <div class="education-container container-block">
        <h2 class="container-block-title">Education</h2>
        <div class="item">
            <h4 class="degree">資訊工程碩士</h4>
            <h5 class="meta">國立中央大學 </br> Web Intelligence and Data Mining Laboratory</h5>
            <div class="time">2012 - 2014</div>
        </div>
        <!--//item-->
        <div class="item">
            <h4 class="degree">資訊工程學士</h4>
            <h5 class="meta">國立中正大學</h5>
            <div class="time">2007 - 2012</div>
        </div>
        <!--//item-->
    </div>
</div>
<div class="en">
    <div class="education-container container-block">
        <h2 class="container-block-title">Education</h2>
        <div class="item">
            <h4 class="degree">M.Sc in Computer Science & Information Engineering </h4>
            <h5 class="meta">National Central University</br> Web Intelligence and Data Mining Laboratory</h5>
            <div class="time">2012 - 2014</div>
        </div>
        <!--//item-->
        <div class="item">
            <h4 class="degree">B.Sc in Computer Science  & Information Engineering</h4>
            <h5 class="meta">National Chung Cheng University</h5>
            <div class="time">2007 - 2012</div>
        </div>
        <!--//item-->
    </div>
</div>
<!--//education-container-->