<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title"> Backend Web Developer & DevOps Engineer</h3>
                <div class="time">2016 Oct. - Present</div>
            </div>
            <!--//upper-row-->
            <div class="company">Institute for Information Industry, Taipei </div>

        </div>
        <!--//meta-->
        <div class="details">
            <ul style="padding-left: 15px;">
                
                <li>
                     <p>於<strong>資策會資安所 資料分析組</strong> <a href="#cloudorion" > CloudOrion</a>(雲端資安威脅分析系統) 及<a href="#secbuzzer" >Secbuzzer</a>(機器感知弱點探析與威脅情資平台) 專案擔任後端API工程師及系統維運工程師，
                    負責後端REST API開發，間接Database以及Google API資料。</p>

                </li>
            </ul>


           
            <p style="text-align: right;">  [Flask, Python, Swagger, Jenkins, Docker, Java, ElasticSearch]</p>

            
        </div>

        
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Recording Assistant</h3>
                <div class="time">2016.June - 2016.Sep</div>
            </div>
            <!--//upper-row-->
            <div class="company">Rhythm Studio, Taipei</div>
        </div>
        <!--//meta-->
        <div class="details">
            <ul style="padding-left: 15px;">
                <li>
                    <p>於台北捷奏錄音室擔任錄音助理，負責協助錄音相關工作及前置作業準備(console暖機、準備器材及pathbay接線)。</p>
                </li>
                <li>
                    類比盤帶數位化
                </li>
            </ul>

            
            
            <p style="text-align: right;"> <strong>[Pro tools, Music Production]</strong></p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Master thesis</h3>
                <div class="time">2012 - 2014</div>
            </div>
            <!--//upper-row-->
            <div class="company">Automatic Multi-Track Mixing By Kernel Dependency Estimation</div>
        </div>
        <!--//meta-->
        <div class="details">
            <ul style="padding-left: 15px;">
                <li>
                    <p>利用核依賴估計來對不同的音樂類型、橋段訓練出的model來自動化唱片混音</p>
                </li>
            </ul>

            <p style="text-align: right;"> <strong>[Data Mining, Music IR]</strong></p>

        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Guitar Teacher</h3>
                <div class="time">2012 - 2014</div>

            </div>
            <!--//upper-row-->
            <div class="company">Fantasy Music, Taoyuan</div>
        </div>
        <!--//meta-->
        <div class="details">
            <ul style="padding-left: 15px;">
                <li>
                    <p>於奇想樂器擔任木吉他彈唱以及FingerStyle教師。</p>
                </li>
            </ul>
            <p style="text-align: right;"> <strong>[Acoustic guitar, FingerStyle]</strong></p>

        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Live Performance</h3>
                <div class="time">2012 - Present</div>
            </div>
            <!--//upper-row-->
            <div class="company">Taiwan</div>
        </div>
        <!--//meta-->
        <div class="details">

            <ul style="padding-left: 15px;">
                <li>
                    參與亞太口琴節，擔任黃石口琴樂團客席吉他手，與團員李永祥共同演出
                </li>
                <li>
                    參與2012,2013, 2014,2015, 2016黃石口琴樂團年度公演，與團員李永祥共同演出
                </li>
                <li>
                    2014年擔任數場婚禮演出吉他手
                </li>
                <li>
                    參與2012,2013 葫蘆墩手風琴樂團年度公演，擔任客席吉他手
                </li>
                
                <li>
                    2012年9月與許峻豪於李吉他星光音樂會演出
                </li>
            
            </ul>
            <p style="text-align: right;"> <strong>[Acoustic guitar, FingerStyle]</strong></p>

        </div>
        <!--//details-->
    </div>
    <!--//item-->


      <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Music Honer and Award</h3>
                <div class="time">2011 - Present</div>

            </div>
            <!--//upper-row-->
            <div class="company">Taiwan</div>
        </div>
        <!--//meta-->
        <div class="details">
            <ul style="padding-left: 15px;">
               <li>
                    [2014] 參加公視第一屆音樂創世紀擔任樂團”鍵盤革命”吉他手進入最後前九強
                </li>
                <li>
                    [2014] 第十七屆中央大學 Unplugged吉他大賽 演奏組 -第一名
                </li>
                 <li>
                    [2013] 第二屆交通大學風弦盃演奏組 - 第三名
                </li>
                <li>
                    [2013] 第十六屆中央大學 Unplugged吉他大賽 演奏組 - 第二名
                </li>
                <li>
                    [2011] 我們的歌 高應大南區吉他邀請賽 團體組 -第三名
                </li>
            </ul>
            
            <p style="text-align: right;"> <strong>[Acoustic guitar, FingerStyle]</strong></p>

        </div>
        <!--//details-->
    </div>
    <!--//item-->

</section>
<!--//section-->