<section class="section experiences-section">
    <h2 class="section-title">
        <i class="fa fa-briefcase"></i>Experiences</h2>
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title"> Fullstack Engineer & DevOps Engineer</h3>
                <div class="time"> March, 2017 - July, 2018</div>
            </div>
            <!--//upper-row-->
            <div class="company">資策會資安所, Taipei </div>

        </div>
        <!--//meta-->
        <div class="details">
            <ul style="padding-left: 15px;">

                <li>
                    系統重構與整合，整合新舊情資平台為一個平台
                </li>

                <li>
                    Dockerized 情資平台所在運行的服務; 像是 Spring, web crawler, data analysis program, Elasticsearch and Flask.
                </li>

                <li>
                    規劃與建立 CI, CD流程（Jenkins build, deploy, postman testing).
                </li>
                <li>
                    規劃並將情資平台系統轉移至GCP上執行
                </li>
                <li>
                    規劃與建置威脅情資開放API，並建立API Portal讓使用者來申請使用
                </li>
                <li>
                    規劃與建置系統監控機制，已讓情資平台能正常運作下去 ( ELK + grafana and Jenkins uptime and health check).
                </li>
                <li>
                    開發 cli 工具，可以讓開發人員直接在本機端建立開發環境
                </li>
                <li>
                    導入Cache機制(Redis)，優化頁面載入速度(10sec to 1sec).
                </li>

                <li>
                    管理及調教 Elasticsearch 叢集.
                </li>

                <li>
                    導入 Swagger, POSTMAN, gitflow and Trello 等工具來優化軟體開發的流程
                </li>
                <li>
                    負責開發與維運情資平台，並帶領開發團隊(3人)，擔任Leader 以及Code reviewer角色.
                </li>
                <li>
                    與外包設計廠商一同規劃與建置產品形象網站(Branding, logo design, Web UI design)
                </li>
            </ul>

            <p style="text-align: right;">
                <strong>[Spring, Angular, GCP, CloudSQL,Swagger, Postman, Jenkins, Docker, ELK,API-GATEWAY, Kong, VirtualBox]</strong>
            </p>

        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title"> Backend Web Developer</h3>
                <div class="time"> Oct, 2016 - March, 2017</div>
            </div>
            <!--//upper-row-->
            <div class="company">資策會資安所, Taipei </div>

        </div>
        <!--//meta-->
        <div class="details">
            <ul style="padding-left: 15px;">

                <li>
                    於
                    <strong>資策會資安所 資料分析組</strong> 雲端資安威脅分析系統與機器感知弱點探析與威脅情資平台專案擔任後端API工程師及系統維運工程師， 負責後端REST API開發，間接Database以及Google
                    API資料。
                </li>
                <li>
                    系統架構調整(改採前後端分離)
                </li>
                <li>
                    導入相關網頁資安防護技術，如CSRF attack防護、CORS機制、reCaptcha、Google Sign-in.
                </li>


            </ul>

            <p style="text-align: right;">
                <strong>[Flask, Python, Swagger, Postman, Docker, Java, Maven, Spring, ElasticSearch, web crawler]</strong>
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">錄音助理</h3>
                <div class="time">June, 2016 - Sep, 2016</div>
            </div>
            <!--//upper-row-->
            <div class="company">Rhythm Studio, Taipei</div>
        </div>
        <!--//meta-->
        <div class="details">
            <ul style="padding-left: 15px;">
                <li>
                    <p>於台北捷奏錄音室擔任錄音助理，負責協助錄音相關工作及前置作業準備(console暖機、準備器材及pathbay接線)。</p>
                </li>
                <li>
                    類比盤帶數位化
                </li>
            </ul>

            <p style="text-align: right;">
                <strong>[Pro tools, Music Production]</strong>
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">碩士論文</h3>
                <div class="time">2012 - 2014</div>
            </div>
            <!--//upper-row-->
            <div class="company">Automatic Multi-Track Mixing By Kernel Dependency Estimation</div>
        </div>
        <!--//meta-->
        <div class="details">
            <ul style="padding-left: 15px;">
                <li>
                    <p>利用核依賴估計來對不同的音樂類型、橋段訓練出的model來自動化唱片混音</p>
                </li>
            </ul>

            <p style="text-align: right;">
                <strong>[Data Mining, Music IR, Matlab]</strong>
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Full stack web developer</h3>
                <div class="time">Sep, 2012 - May, 2013</div>

            </div>
            <!--//upper-row-->
            <div class="company"> WIDM Lab, NCU</div>
            <div class="company"> Project - SNASOLAP(智慧型網路附加儲存倉儲系統) </div>

        </div>
        <!--//meta-->
        <div class="details">
            <ul style="padding-left: 15px;">
                <li>
                    在NAS上建置監控系統(Web GUI)來監控使用情形(with OLAP analysis algorithm)
                </li>
            </ul>
            <p style="text-align: right;">
                <strong>[ExtJS, PHP, C++]</strong>
            </p>

        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">LBS Android APP developer</h3>
                <div class="time">Sep, 2009 - May, 2010</div>

            </div>
            <!--//upper-row-->
            <div class="company"> Applied Computing Lab., CCU</div>
            <div class="company"> Project- Counpon On The Way</div>

        </div>
        <!--//meta-->
        <div class="details">
            <ul style="padding-left: 15px;">
                <li>
                    擔任Android app開發人員及系統整合人員，負責統整系統功能及系統維運
                </li>
            </ul>
            <p style="text-align: right;">
                <strong> [Android, Java, JSP, SVN]</strong>
            </p>

        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Guitar Teacher</h3>
                <div class="time">2012 - 2014</div>

            </div>
            <!--//upper-row-->
            <div class="company">Fantasy Music, Taoyuan</div>
        </div>
        <!--//meta-->
        <div class="details">
            <ul style="padding-left: 15px;">
                <li>
                    <p>於奇想樂器擔任木吉他彈唱以及FingerStyle教師。</p>
                </li>
            </ul>
            <p style="text-align: right;">
                <strong>[Acoustic guitar, FingerStyle]</strong>
            </p>

        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Live Performance</h3>
                <div class="time">2012 - Present</div>
            </div>
            <!--//upper-row-->
            <div class="company">Taiwan</div>
        </div>
        <!--//meta-->
        <div class="details">

            <ul style="padding-left: 15px;">
                <li>
                    參與亞太口琴節，擔任黃石口琴樂團客席吉他手，與團員李永祥共同演出
                </li>
                <li>
                    參與2012,2013, 2014,2015, 2016黃石口琴樂團年度公演，與團員李永祥共同演出
                </li>
                <li>
                    2014年擔任數場婚禮演出吉他手
                </li>
                <li>
                    參與2012,2013 葫蘆墩手風琴樂團年度公演，擔任客席吉他手
                </li>

                <li>
                    2012年9月與許峻豪於李吉他星光音樂會演出
                </li>

            </ul>
            <p style="text-align: right;">
                <strong>[Acoustic guitar, FingerStyle]</strong>
            </p>

        </div>
        <!--//details-->
    </div>
    <!--//item-->


    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Music Honer and Award</h3>
                <div class="time">2011 - Present</div>

            </div>
            <!--//upper-row-->
            <div class="company">Taiwan</div>
        </div>
        <!--//meta-->
        <div class="details">
            <ul style="padding-left: 15px;">
                <li>
                    [2014] 參加公視第一屆音樂創世紀擔任樂團”鍵盤革命”吉他手進入最後前九強
                </li>
                <li>
                    [2014] 第十七屆中央大學 Unplugged吉他大賽 演奏組 -第一名
                </li>
                <li>
                    [2013] 第二屆交通大學風弦盃演奏組 - 第三名
                </li>
                <li>
                    [2013] 第十六屆中央大學 Unplugged吉他大賽 演奏組 - 第二名
                </li>
                <li>
                    [2011] 我們的歌 高應大南區吉他邀請賽 團體組 -第三名
                </li>
            </ul>

            <p style="text-align: right;">
                <strong>[Acoustic guitar, FingerStyle]</strong>
            </p>
            <div style="margin:0 auto;text-align:center;">
                <h4>
                    <a href="https://www.youtube.com/playlist?list=PL6kd_k8dVjhDlTmVcdJuM85y6zOMbZEZ0" target="_blank">My Live Performance</a>
                </h4>

                <iframe width="355" height="200" src="https://www.youtube.com/embed/videoseries?list=PL6kd_k8dVjhDlTmVcdJuM85y6zOMbZEZ0"
                    frameborder="0" style="display: block;margin:0 auto;"></iframe>
            </div>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

</section>
<!--//section-->