<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-music"></i>Music Training</h2>

    <div class="item" style="margin-bottom:10px;">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Sincerely Music - Music Production Workshop</h3>
                <div class="time">April, 2016 - June, 2016</div>
            </div>
            <!--//upper-row-->
            <div class="company"> XUE XUE INSTITUTE, Taipei</div>
        </div>
        <!--//meta-->

    </div>
    <!--//item-->
    <div class="item" style="margin-bottom:10px;">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">莊智淵 Jazz Guitar Class</h3>
                <div class="time">2016 - Jan, 2018</div>
            </div>
            <!--//upper-row-->
            <div class="company">Taipei</div>
        </div>
        <!--//meta-->

    </div>
    <!--//item-->
    <div class="item" style="margin-bottom:10px;">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">魏駿 Recording & Mixing Class</h3>
                <div class="time">2015 - 2016</div>
            </div>
            <!--//upper-row-->
            <div class="company">Air Studio, Taipei</div>
        </div>
        <!--//meta-->

    </div>
    <!--//item-->

    <div class="item" style="margin-bottom:10px;">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title"> 第十二屆台北國際爵士音樂營</h3>
                <div class="time">2015 July</div>
            </div>
            <!--//upper-row-->
            <div class="company">爵士原力, Taipei</div>
        </div>
        <!--//meta-->

    </div>
    <!--//item-->
   
    <div class="item" style="margin-bottom:10px;">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Introduction to Music Production</h3>
                <div class="time">Jan, 2014 - March, 2016</div>
            </div>
            <!--//upper-row-->
            <div class="company">Berklee Music, Coursera</div>
        </div>
        <!--//meta-->

    </div>
    <!--//item-->
    <div class="item" style="margin-bottom:10px;">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Trainee </h3>
                <div class="time">July, 2013 - Aug, 2013</div>
            </div>
            <!--//upper-row-->
            <div class="company">Muscene Studio, Taipei</div>
        </div>
        <!--//meta-->

    </div>
    <!--//item-->
    <div class="item" style="margin-bottom: 10px;text-align:center">
        <h4><a href="https://soundcloud.com/jtrmn/sets" target="_blank">Music Portfolio</a></h4>
        <iframe width="70%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/317740682&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>

</section>
<!--//section-->