<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>Some project experience on Computer Science.</p>
    </div>
    <!--//intro-->
    <div class="item">
        <span class="project-title" id="secbuzzer_en"><a href="http://secbuzzer.iii.org.tw:5500" target="_blank" >Secbuzzer-cti</a></span> - <span class="project-tagline"> [Flask, Python, Swagger, Jenkins, Docker]</span>
        <p>Backend web developer, DevOps Engineer</p>
            <ul>
                <li>
                    Design and build REST API Server to connect database(ElasticSearch, MySQL) data with Front-end page.
                </li>
                <li>
                    Whole System Design and Operation, and bring DevOps culture into this team, such as Gitflow, Jenkins CI, unittest, coverage...etc.
                </li>
            
                
            </ul>
            <p style="text-align: right;"> [Ongoing]</p>

    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title" id="cloudorion_en" ><a href="https://cloudorion.cyber00rn.org" target="_blank">CloudOrion</a></span> -
        <span class="project-tagline">[Spring MVC, Java, AngularJS] </span>
        <p>Backend web developer</p>
             <ul>
                <li>
                     Create REST APIs  to connect database(ElasticSearch, MySQL) and Google APIs data with Front-end page.
                </li>
                <li>
                    Modify System Architecture(Separating Front-end from Backend).
                </li>
                <li>
                    Add some web security protection feature into system, such as CSRF token, CORS, reCaptcha, Google Sign-in...etc.
                </li>
                
            </ul>
        <p style="text-align: right;"> [2016.Oct - 2017.Jan]</p>

    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" >SNASOLAP(智慧型網路附加儲存倉儲系統)</a></span> - <span class="project-tagline">[ExtJS, PHP, C++]</span>
        <p>Full stack web developer</p>
        <ul>
                <li>
                    Create a web interface to monitor NAS system with OLAP analysis algorithm.
                </li>
        </ul>
        <p style="text-align: right;"> [2012.Sep - 2013.May]</p>

    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" >Coupon On The Way</a></span> - <span class="project-tagline">[Android, Java, JSP, SVN] </span>
        <p>LBS Android APP developer</p>
        <ul>
                <li>
                    Developed an android app which bring your coupon into your smart phone.
                </li>
                <li>
                    System maintain and operation.
                </li>
        </ul>
        <p style="text-align: right;"> [2009.Sep - 2010.June]</p>

    </div>
    <!--//item-->
    
   </section>
<!--//section-->