<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    
    <!--//intro-->
    <div class="item">
        <span class="project-title" id="secbuzzer"><a href="http://secbuzzer.iii.org.tw:5500" target="_blank" >Secbuzzer-cti</a></span> - <span class="project-tagline"> [Flask, Python, Swagger, Jenkins, Docker]</span>
        <p>Backend web developer, DevOps Engineer</p>
            <ul>
                <li>
                    後端REST API建置， Database(ElasticSearch, MySQL)與前端網頁資料串接
                </li>
                <li>
                    系統架構設計與建置
                </li>
                <li>
                    導入DevOps文化，如GitFlow、Jenkins CI、unittest、coverage...etc
                </li>
                
            </ul>
            <p style="text-align: right;"> [進行中]</p>

    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title" id="cloudorion" ><a href="https://cloudorion.cyber00rn.org" target="_blank">CloudOrion</a></span> -
        <span class="project-tagline">[Spring MVC, Java, AngularJS] </span>
         <p>於<strong>CloudOrion</strong>專案擔任後端API工程師，負責項目如下</p>
            <ul>
                <li>
                    Database(ElasticSearch, MySQL)與前端網頁資料串接
                </li>
                <li>
                    系統架構調整(改採前後端分離)
                </li>
                <li>
                    以及導入相關網頁資安防護技術，如CSRF attack防護、CORS機制、reCaptcha、Google Sign-in..etc
                </li>
                
            </ul>
        <p style="text-align: right;"> [2016.Oct - 2017.Jan]</p>

    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" >SNASOLAP(智慧型網路附加儲存倉儲系統)</a></span> - <span class="project-tagline">[ExtJS, PHP, C++]</span>
        <p>擔任網頁開發工程師，負責開發前端及後端系統</p>
                
        <p style="text-align: right;"> [2012.Sep - 2013.May]</p>

    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" >Coupon On The Way</a></span> - <span class="project-tagline">[Android, Java, JSP, SVN] </span>
        <p>LBS Android APP 開發</p>
        <p>擔任系統開發人員及系統整合人員，負責統整系統功能及系統維運</p>
        <p style="text-align: right;"> [2009.Sep - 2010.June]</p>

    </div>
    <!--//item-->
    
   </section>
<!--//section-->