<!-- Use icons from fontawesome when you are adding new item in the contact list  -->


<div class="sidebar-wrapper">
    <div class="profile-container">
       
        <img class="profile-img" src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profile.png{% endif %}"
            alt="profile picture" />
        <h1 class="name">{% if site.name %}{{site.name}}{% endif %}</h1>
        <h3 class="tagline">{% if site.tagline %}{{site.tagline}}{% endif %}</h3>
    </div>
    <!--//profile-container-->
    <iframe width="100%" height="110" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/150695548&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
    <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">


             {% if site.soundcloud %}
            <li class="soundcloud"><i class="fab fa-soundcloud" aria-hidden="true"></i><a href="https://soundcloud.com/jtrmn/sets" target="_blank">Tsung Studio</a></li>            
            {% endif %} {% if site.youtube %}
            <li class="youtube"><i class="fab fa-youtube"></i><a href="https://www.youtube.com/user/{{site.youtube}}" target="_blank"> YouTube</a></li>
            {% endif %} {% if site.email %}
            <li class="email"><i class="fas fa-envelope"></i><a href="mailto: {{site.email}}"> {{site.email}}</a></li>
            {% endif %} {% if site.phone %}
            <li class="phone"><i class="fab fa-phone"></i><a href="tel:{{site.phone}}"> {{site.phone}}</a></li>
            {% endif %} {% if site.website %}
            <li class="website"><i class="fab fa-globe"></i><a href="http://{{site.website}}" target="_blank"> {{site.website}}</a></li>
            {% endif %} {% if site.medium %}
            <li class="github"><i class="fab fa-medium"></i><a href="http://medium.com/{{site.medium}}" target="_blank">   blog</a></li>
            {% endif %} {% if site.linkedin %}
            <li class="linkedin"><i class="fab fa-linkedin"></i><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"> linkedin.com/in/{{site.linkedin}}</a></li>
            {% endif %} {% if site.github %}
            <li class="github"><i class="fab fa-github"></i><a href="http://github.com/{{site.github}}" target="_blank"> github.com/{{site.github}}</a></li>
            {% endif %} {% if site.twitter %}
            <li class="twitter"><i class="fab fa-twitter"></i><a href="https://twitter.com/{{site.twitter}}" target="_blank"> {{site.twitter}}</a></li>
            {% endif %}
        </ul>
    </div>
    <!--//contact-container-->
    {% include education.html %} 
    {% include language.html %} 
    {% include gear.html %}
    {% include interests.html %} 

</div>
<!--//sidebar-wrapper-->