<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">FingerStyle Guitar Performance and Production</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">

                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->


                    <div class="item">
                        <h3 class="level-title">Web Development</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="82%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Music Production</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="85%">

                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Music Information Retrieval</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="72%">

                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Guitar Technique</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="87%">

                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                     <div class="item">
                        <h3 class="level-title">Digital Music Gear Planning</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                
                    
                    <div class="item">
                        <h3 class="level-title">Team Work</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->